* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #000; }

@media only screen and (max-width: 56.25em) {
  .hardImage {
    display: none; } }

.hero__image {
  position: relative;
  height: 661px;
  width: 796px;
  display: block;
  margin: 0 auto; }
  @media only screen and (max-width: 56.25em) {
    .hero__image {
      background-image: url("../img/herojdolanstories.jpg");
      background-size: cover;
      width: 100%;
      background-position: bottom left; } }
  @media only screen and (max-width: 37.5em) {
    .hero__image {
      background-image: url("../img/herojdolanstoriesPhone.jpg");
      background-size: cover;
      background-position: bottom left; } }
  .hero__image > img {
    height: 100%;
    width: 100%; }
  .hero__image--mainTitle {
    font-family: tangerine;
    font-style: italic;
    font-size: 67px;
    position: absolute;
    top: 30%;
    left: 40%; }
    @media only screen and (max-width: 37.5em) {
      .hero__image--mainTitle {
        top: 25%;
        left: 11%; } }
  .hero__image--subTitle {
    color: #fff;
    font-family: oswald;
    font-style: italic;
    font-weight: 600;
    font-size: 18px;
    position: absolute;
    bottom: 165px;
    right: 18px; }
    @media only screen and (max-width: 37.5em) {
      .hero__image--subTitle {
        bottom: 227px;
        right: 13px;
        font-size: 22px; } }
  .hero__image--threeImages {
    display: flex;
    position: absolute;
    right: 0;
    bottom: 124px;
    height: 75px; }
    @media only screen and (max-width: 37.5em) {
      .hero__image--threeImages {
        display: block; } }
    .hero__image--threeImages-contactLink {
      padding-top: 41px;
      padding-right: 100px;
      font-size: 19px;
      font-family: Oswald;
      color: #ecdbc1; }
      @media only screen and (max-width: 37.5em) {
        .hero__image--threeImages-contactLink {
          display: none; } }
      .hero__image--threeImages-contactLink > a {
        color: inherit; }
    .hero__image--threeImages-contactLinkMobile {
      display: none;
      font-size: 19px;
      font-family: Oswald;
      color: #ecdbc1; }
      @media only screen and (max-width: 37.5em) {
        .hero__image--threeImages-contactLinkMobile {
          display: block;
          position: absolute;
          right: 125px;
          bottom: 8px;
          font-size: 16px; } }
      .hero__image--threeImages-contactLinkMobile > a {
        color: inherit; }
    .hero__image--threeImages-ronGuitar {
      position: relative; }
      .hero__image--threeImages-ronGuitar-text {
        position: absolute;
        bottom: 20px;
        right: 5px; }
        @media only screen and (max-width: 37.5em) {
          .hero__image--threeImages-ronGuitar-text {
            bottom: 6px;
            right: 15px; } }
        .hero__image--threeImages-ronGuitar-text > a > p {
          color: #ecdbc1;
          font-family: Oswald;
          font-weight: 600;
          font-style: italic;
          font-size: 12px;
          text-decoration: underline;
          text-align: right; }
    .hero__image--threeImages-train {
      position: relative; }
      .hero__image--threeImages-train-text {
        position: absolute;
        bottom: 20px;
        left: 7px; }
        @media only screen and (max-width: 37.5em) {
          .hero__image--threeImages-train-text {
            bottom: 9px; } }
        .hero__image--threeImages-train-text > a > p {
          color: #ecdbc1;
          font-family: Oswald;
          font-weight: 600;
          font-style: italic;
          font-size: 12px;
          text-decoration: underline; }
    .hero__image--threeImages-guitar {
      position: relative; }
      .hero__image--threeImages-guitar-text {
        position: absolute;
        bottom: 20px;
        right: 5px; }
        @media only screen and (max-width: 37.5em) {
          .hero__image--threeImages-guitar-text {
            bottom: 9px; } }
        .hero__image--threeImages-guitar-text > a > p {
          color: #ecdbc1;
          font-family: Oswald;
          font-weight: 600;
          font-style: italic;
          font-size: 12px;
          text-decoration: underline; }

.songLinks img {
  border-radius: 25px;
  box-shadow: 0 0 12px #fff;
  width: 100%; }
  @media only screen and (max-width: 37.5em) {
    .songLinks img {
      border-radius: 15px; } }

.songLinks__title {
  font-family: tangerine;
  font-style: italic;
  font-size: 96px;
  font-weight: 600;
  color: #90c3d3;
  margin: 90px auto 50px;
  text-align: center; }
  @media only screen and (max-width: 50em) {
    .songLinks__title {
      font-size: 64px;
      margin: 90px auto 10px; } }
  @media only screen and (max-width: 37.5em) {
    .songLinks__title {
      font-size: 64px;
      margin-top: 70px auto -20px; } }

.songLinks__images {
  position: relative;
  margin: 0 auto;
  width: 1000px; }
  @media only screen and (max-width: 65.625em) {
    .songLinks__images {
      width: 900px; } }
  @media only screen and (max-width: 56.25em) {
    .songLinks__images {
      width: 600px; } }
  @media only screen and (max-width: 37.5em) {
    .songLinks__images {
      width: 385px; } }
  .songLinks__images--ronGuitar {
    position: relative;
    left: 140px;
    top: -10px;
    width: 400px; }
    @media only screen and (max-width: 65.625em) {
      .songLinks__images--ronGuitar {
        left: 50px; } }
    @media only screen and (max-width: 56.25em) {
      .songLinks__images--ronGuitar {
        top: auto;
        left: auto;
        margin: 40px auto; } }
    @media only screen and (max-width: 37.5em) {
      .songLinks__images--ronGuitar {
        width: 250px; } }
    .songLinks__images--ronGuitar-text {
      position: absolute;
      bottom: 15px;
      right: 10px; }
      .songLinks__images--ronGuitar-text > a > p {
        color: #ecdbc1;
        font-family: Oswald;
        font-weight: 600;
        font-style: italic;
        font-size: 28px;
        text-decoration: underline; }
  .songLinks__images--train {
    position: relative;
    width: 400px;
    left: 555px;
    top: -190px; }
    @media only screen and (max-width: 65.625em) {
      .songLinks__images--train {
        left: 465px; } }
    @media only screen and (max-width: 56.25em) {
      .songLinks__images--train {
        top: auto;
        left: auto;
        margin: 40px auto; } }
    @media only screen and (max-width: 37.5em) {
      .songLinks__images--train {
        width: 250px; } }
    .songLinks__images--train-text {
      position: absolute;
      bottom: 20px;
      left: 10px; }
      .songLinks__images--train-text > a > p {
        color: #ecdbc1;
        font-family: Oswald;
        font-weight: 600;
        font-style: italic;
        font-size: 28px;
        text-decoration: underline; }
  .songLinks__images--contactText {
    text-align: center; }
    .songLinks__images--contactText > a {
      color: #ecdbc1;
      font-family: Oswald;
      font-weight: 400;
      font-size: 36px;
      text-decoration: underline;
      position: relative;
      left: -190px;
      top: -100px; }
      @media only screen and (max-width: 65.625em) {
        .songLinks__images--contactText > a {
          left: -240px; } }
      @media only screen and (max-width: 56.25em) {
        .songLinks__images--contactText > a {
          top: auto;
          left: auto;
          font-size: 24px; } }
      @media only screen and (max-width: 37.5em) {
        .songLinks__images--contactText > a {
          font-size: 24px; } }
  .songLinks__images--guitar {
    position: relative;
    width: 400px;
    left: 450px;
    top: -285px; }
    @media only screen and (max-width: 65.625em) {
      .songLinks__images--guitar {
        left: 355px; } }
    @media only screen and (max-width: 56.25em) {
      .songLinks__images--guitar {
        top: auto;
        left: auto;
        margin: 40px auto; } }
    @media only screen and (max-width: 37.5em) {
      .songLinks__images--guitar {
        width: 250px; } }
    .songLinks__images--guitar-text {
      position: absolute;
      text-align: center;
      bottom: 20px;
      right: 25px; }
      .songLinks__images--guitar-text > a > p {
        color: #ecdbc1;
        font-family: Oswald;
        font-weight: 600;
        font-style: italic;
        font-size: 28px;
        text-decoration: underline; }

#mobileContact {
  display: none; }
  @media only screen and (max-width: 56.25em) {
    #mobileContact {
      display: block;
      margin: 0 40px 40px; } }

#nonMobileContact {
  display: block; }
  @media only screen and (max-width: 56.25em) {
    #nonMobileContact {
      display: none; } }

.contact__image {
  position: relative;
  height: 576px;
  width: 794px;
  display: block;
  margin: 0 auto; }
  @media only screen and (max-width: 56.25em) {
    .contact__image {
      width: 100%;
      background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(../img/JDolanStories__guitarNeckStylish.jpg);
      background-size: cover; } }
  @media only screen and (max-width: 37.5em) {
    .contact__image {
      width: 100%;
      height: 100%;
      background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(../img/JDolanStories__guitarNeckStylish.jpg);
      background-size: cover; } }
  .contact__image > img {
    height: 100%;
    width: 100%; }

.contact__text {
  position: absolute;
  width: 285px;
  top: 264px;
  left: 197px;
  font-size: 16px;
  font-family: 'Josefin Slab', serif; }
  @media only screen and (max-width: 56.25em) {
    .contact__text {
      top: 13%;
      left: 10%;
      width: 40%; } }
  @media only screen and (max-width: 37.5em) {
    .contact__text {
      position: static;
      margin: auto;
      padding-top: 50px;
      width: 267px; } }

.contact__form {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 267px;
  height: 390px;
  border: 1px solid #333333;
  border-radius: 7px; }
  @media only screen and (max-width: 37.5em) {
    .contact__form {
      position: static;
      margin: 50px auto; } }
  .contact__form--title {
    background-color: #ddd;
    padding: 5px 3px;
    font-size: 21px;
    border-radius: 7px 7px 0 0; }
  .contact__form--userInputs {
    padding: 10px;
    padding-bottom: 20px;
    line-height: 2;
    background-color: transparent; }
    .contact__form--userInputs div {
      width: 100%;
      display: flex;
      justify-content: stretch; }
    .contact__form--userInputs label {
      flex: 2;
      text-align: right;
      margin-right: 3px; }
    .contact__form--userInputs input {
      flex: 8;
      margin: 3px;
      padding: 2px; }
    .contact__form--userInputs textarea {
      width: 100%; }
    .contact__form--userInputs input,
    .contact__form--userInputs textarea {
      border-radius: 7px;
      font-size: 16px; }
    .contact__form--userInputs button {
      border-radius: 7px;
      font-size: 20px;
      display: block;
      margin: 0 auto;
      padding: 3px 10px; }

.contact__phone {
  position: absolute;
  bottom: 50px;
  right: 15px;
  font-family: 'Josefin Slab', serif;
  font-size: 21px;
  font-weight: 600; }
  @media only screen and (max-width: 37.5em) {
    .contact__phone {
      position: static;
      margin: 50px 20%;
      text-align: center; } }

.g-recaptcha {
  transform: scale(0.81);
  -webkit-transform: scale(0.81);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0; }
