@mixin centerBoxAbs {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

* { 
    margin:0;
    padding:0;
    box-sizing:border-box; 
}

body {
    background-color: #333333;
}

.hero {
    margin-left: 22.5%;
    width: 55%;
    &__image {
        background-image: url('../img/herojdolanstories.jpg');
        height: 100vh;
        width: 105%;
        position: relative; 
        background-size:cover;  
        &--mainTitle {
            font-family: tangerine;
            font-style: italic;
            font-size: 67px;
            position: absolute;
            top: 30%;
            left: 40%;
        }
        &--subTitle {
            color: white;
            font-family: oswald;
            font-style: italic;
            font-weight: 400;
            font-size: 24px;
            position: absolute;
            bottom: 25%;
            right: 5%;
        } 
        &--threeImages {
            display: flex;
            position: absolute;
            right: 0;
            bottom: 0;
            height: 75px;

            &-contactLink {
                padding-top: 40px;
                padding-right: 15px;
                font-size: 20px;
                font-family: Oswald;
                color: #fff;

                &>a {
                    color: inherit;
                }
            }

            &-ronGuitar {
                position: relative;
                &-text {
                    position: absolute;
                    bottom: 8px;
                    right: 9px;

                    &>a>p {
                        color: #fff;
                        font-family: Oswald;
                        font-weight: 200;
                        font-style: italic;
                        font-size: 10px;
                        text-decoration: underline;
                        text-align: right;
                    }              
                }
            }
            &-train {
                position: relative;
                &-text {
                    position: absolute;
                    bottom: 8px;
                    left: 7px;

                    &>a>p {
                        color: #fff;
                        font-family: Oswald;
                        font-weight: 200;
                        font-style: italic;
                        font-size: 10px;
                        text-decoration: underline;
                    }
                }
            }
            &-guitar {
                position: relative;
                &-text {
                    position: absolute;
                    bottom: 8px;
                    right: 9px;
                    
                    &>a>p {
                        color: #fff;
                        font-family: Oswald;
                        font-weight: 200;
                        font-style: italic;
                        font-size: 10px;
                        text-decoration: underline;
                    }
                }
            }
        }  
    }  
}

.songLinks {
    width: 100%;
    & img {
        border-radius: 25px;
        box-shadow: 0 0 12px #fff;
        width: 100%;
    }
    &__title {
        font-family: tangerine;
        font-style: italic;
        font-size: 96px;
        font-weight: 600;
        color: #fff;
        margin: auto;
        text-align: center;
    }

    &__images {
        position: relative;

        &--ronGuitar {
            position: relative;
            left: 300px;
            width: 400px;
        
            &-text {
                position: absolute;
                bottom: -8px;
                right: 9px;
                
                &>a>p {
                    color: #fff;
                    font-family: Oswald;
                    font-weight: 600;
                    font-style: italic;
                    font-size: 28px;
                    text-decoration: underline;
                }
            }
        }
        &--train {
            position: relative;
            width: 400px;
            left: 720px;
            top: -150px;
        
            &-text {
                position: absolute;
                bottom: -3px;
                left: 9px;
                
                &>a>p {
                    color: #fff;
                    font-family: Oswald;
                    font-weight: 600;
                    font-style: italic;
                    font-size: 28px;
                    text-decoration: underline;
                }
            }
        }
        &--contactText {
            text-align:center;
            &>a {
                color: #fff;
                font-family: Oswald;
                font-weight: 600;
                font-size: 36px;
                text-decoration: underline;
                position: relative;
                left: -250px;
                top: -50px;
            }
        }
        &--guitar {
            position: relative;
            width: 400px;
            left: 595px;
            top: -240px;
        
            &-text {
                position: absolute;
                text-align: center;
                bottom: -7px;
                right: 25px;
                
                &>a>p {
                    color: #fff;
                    font-family: Oswald;
                    font-weight: 600;
                    font-style: italic;
                    font-size: 28px;
                    text-decoration: underline;
                }
            }
        }
    }
}

.contact {
   
    &__image {
        position: relative;
        height: 576px;
        width: 794px;
        display: block;
        margin: 0 auto;

        &>img {
           height: 100%;
           width: 100%; 
        }
    }

    &__text {
        position: absolute;
        width: 285px;
        top: 264px;
        left: 197px;
        font-size: 16px;
        font-family: 'Josefin Slab', serif;
    }
    &__form {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 267px;
        height: 390px;
        border: 1px solid #333333;
        border-radius: 7px;

        &--title {
            background-color: #ddd;
            padding: 5px 3px;
            font-size: 21px;
            border-radius: 7px 7px 0 0;
        }
        &--userInputs {           
            padding: 10px;
            padding-bottom: 20px;
            line-height: 2;
            background-color: transparent;

            & div {
                width: 100%;
                display: flex;
                justify-content: stretch;  
            }
            & label {
                flex: 2;
                text-align: right;
                margin-right: 3px;
            }
            & input {
                flex: 8;
                margin: 3px;
            }
            & textarea {
                width: 100%;
            }
            & input,
            & textarea {
                border-radius: 7px;
                font-size: 16px;
            }   
            & button {
                border-radius: 7px;
                font-size: 20px;
                display: block;
                margin: 0 auto;
                padding: 3px 10px;

            }
        }       
    }
    &__phone {
        position: absolute;
        bottom: 50px;
        right: 15px;
        font-family: 'Josefin Slab', serif;
        font-size: 21px;
        font-weight: 600;
    }
}